<h2>Link</a></h2>
{{#if link}}
    <form id="abc" action="/link/{{auth}}/submit/{{link.id}}" method="post">
{{else}}
    <form id="abc" action="/link/{{auth}}/submit" method="post">
{{/if}}
        <div><label>Heading</label></div>
            <div><input type = "text" id="heading" name="heading" value={{link.Heading}}></div>
        <div><label>Link</label></div>
            <div><input type = "text" id="sorc" name="sorc" value={{link.sorc}}></div>
        <div><button type="submit">Submit</button></div>
    </form>